# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Data & cache
.history/
*.sw?
.DS_Store

# Environment
.env
venv/
.venv/

# IDE
.vscode/
.idea/

# Output (adjust if you want to keep in repo)
stock_cache/
